# .gitignore
# Não guarde os módulos instalados do npm no repositório.
# Como a lista de módulos necessários fica gravada no arquivo
# package.json, se quiser clonar o repositório basta usar
# npm install para instalar todos eles.
node_modules
# O diretório .temp guardará apenas arquivos compilados durante
# o desenvolvimento. Não é preciso gravá-lo no repositório.
.temp